/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-variation-settings: 'wght' var(--text-weight);
  font-family: var(--Inter-font);
  font-size: var(--font-size);

  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
    
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color);
  background-color: var(--background-color);
  margin-block:103px;
  padding-block: 128px;
  font-family: var(--Pres-font);
  font-weight: var(--title-weight);
  width: var(--page-width);
}

.header_title{
  font-size: var(--header-font-size);
  text-transform: uppercase;
  line-height: 100%;
  margin-block-end: 20px;
}

.header_subtitle{
  font-size: var(--subtitle-font-size);
}

.main{
  width: var(--page-width);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article{
  outline: 2px solid var(--color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
}
.article .buttonLike:last-child{
  margin-block-end: 25px;
}
.article_title{
  font-family: var(--Inter-font);
  padding-block: 3px;
  font-weight: var(--title-weight);
  font-size: var(--font-size);
  padding-inline:10px 0 ;
}

.article_img_box{
  position: relative;
}

.article_img{
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
}

.card_label{
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--Pres-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size-btn);
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 0.7;
  z-index: 1;
}

.text{
  font-family: var(--Inter-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size);
  padding: 25px;
  margin: 0;
}

.text p:last-child{
  margin-block-start: 27px;
}

.buttonLike{
  display: flex;
  justify-content: end;
  column-gap: 12px;
  margin-inline-end: 25px;
  align-items: center;
}

.decorated_button{
  padding: 12px 37px;
  background-color: transparent;
  border: 2px solid var(--color);
  font-size: var(--font-size-btn);
  font-family: var(--Pres-font);
  font-weight: var(--text-weight);
  line-height: 80%;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}
.card__like-button {
    width: 110px; /* Жесткая фиксированная ширина */
    padding: 12px 0; /* Убираем горизонтальные отступы, они теперь внутри width */
    text-align: center;
    box-sizing: border-box;
}

.card__like-button .button__text {
    white-space: nowrap;
}

.card__icon-button{
  border: none;
  background-color: transparent;
  padding: 0;

  transform: border-color 0.3s ease;
  border: 2px solid transparent; 
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus-visible{
  border-color: var(--color);
  padding: 2px; /*внутр отсутп у сердца*/
}
.card__icon-button:focus{
  outline: none;
}

.save_button{
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto; 
  width: auto;
  margin-block-end: 103px;
}
.svg_img,
.decorated_button_text{
  position: relative;
  z-index: 2;
  color: var(--background-color);              
  mix-blend-mode: difference;
}
.svg_img{
  width: 21px;
  height: 21px;
  
  stroke: currentColor;      
  fill: none;

}
.savebtn{
  padding: 19px 20px;
}

.save_dialog[open] {
  position: fixed;
  inset: 0;
  margin: auto;
  border: 2px solid var(--color);
  padding: 30px;
  width: 354px;
  max-width: 90%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.save_dialog[open]) {
  overflow: hidden;
}

.dialog_description{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  line-height: 110%;
}

.dialog_label{
  font-family: var(--Pres-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size-btn);
}
.dialog_button{
  width: 100%;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .card_label {
    text-shadow: none;  
    -webkit-text-stroke: 1px var(--shadow-color);  
    text-stroke: 1px var(--shadow-color);
  }
}

.filter_brightness{
  filter: brightness(200%);
}
.filter_blur{
  filter: blur(0.3rem);
}
.filter_opacity{
  filter: opacity(0.3);
}
.filter_grayscale{
  filter: grayscale(0.8);
}
.filter_saturate{
  filter: saturate(158%);
}
.filter_sepia{
  filter: sepia(80%), contrast(20%);;
  
}
.filter_invert{
  filter: invert(0.7);
}

.decorated_button:focus{
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
}
.decorated_button::before{
  content: '';
  translate:-100%;
  transition: translate 0.5s ease-in-out;
  position: absolute;
  inset: 0;
  background: var(--color);
  
  height: 100%;
  z-index: 1;
}
.decorated_button:hover::before{
  translate: 0%;
  width: 100%;
}


.core:hover{
  fill: var(--color);
}



@media (width <= 375px) {
  .main,
  .header {
    width: 100%;
  }
  .save_button{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 auto; 
    width: auto;
    margin-block-end: 103px;
  }
}
